/*Ordre pour la mise en page
    Polices personnalisées.

    Définition des styles principaux de la page (largeur du site, fond, couleur par défaut du texte).

    En-tête et liens de navigation.

    Bannière (représentant le pont de San Francisco).

    Section principale du corps de page, au centre.

    Pied de page (footer).
*/

/*I. Polices*/
@font-face {
    font-family: 'open_sansregular';
    src: url('Fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('Fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('Fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('Fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreennormal';
    src: url('Fonts/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.eot');
    src: url('Fonts/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff'),
         url('Fonts/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.ttf') format('truetype'),
         url('Fonts/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*II. Styles principaux*/
body
{
	background: repeat #fbfaf9;
	font-family: 'open_sansregular', Arial, sans-serif;
}

#bloc_page
{
	width: 90%;
	margin: auto;
}


.kapu_titre
{
    font-family: 'silkscreennormal', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

a:hover
{
    color: #5a2c8a;
    text-decoration: underline;

}

a
{
    color: #2d6299;
    text-decoration: none;
}

/*III. L'en tete*/


header
{
    /*background: url('Images/Header/separateur.png') repeat-x bottom;/*Arriver à mettre un séparateur sous le header*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}



#titre_principal
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

}


#kapu_vertic
{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;

}

/*Navigation*/


nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

nav li
{
    margin-right: 15px;
}

/*Mettre en forme les liens*/

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

.navigation
{
        text-transform: uppercase;

}
/*Section principale*/


section h1
{

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}

.projets
{

    text-transform: none;
}

.cats
{
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*Footer*/


footer
{
    display: flex;
    background: url('Images/Footer/separateur.png') repeat-x top;
    padding-top: 25px;
    justify-content: space-between;
}

#Public_Domain
{
    font-size: 0.2em;
}


/*Contact*/

.PGP
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.raccourci
{
    font-weight: bold;
}
